@import "bootstrap/dist/css/bootstrap.min.css";
@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap");

* {
  font-family: "Helvetica Neue", "Arial", sans-serif;
}
.App {
  height: fit-content;
  width: 100%;
  color: rgba(0, 0, 0, 0.9) !important;
}

.custom-sec {
  background-color: #e9ecf5 !important;
}

.custom-light {
  color: rgb(240, 240, 240) !important;
}

.custom-pry {
  background-color: #153f66 !important;
}

.custom-pry-border {
  border: 1.5px solid #153f66 !important;
}

.custom-pry-color {
  color: #153f66 !important;
}

.box-400 {
  height: 400px;
}

.box-150 {
  height: 150px;
}

.box-650 {
  height: 650px;
}

.box-fit {
  height: fit-content !important;
}

.business-card-hover:hover {
  border: 2px solid #aac2d9 !important;
}

li {
  list-style-type: none !important;
}

button[role="tab"] {
  color: #153f66 !important;
  border-radius: 0% !important;
}

.smaller-text {
  font-size: 14px;
}
